*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2d2d2d; /*#373737*/
    
}
p{
    padding: 10px;
    color: white;
    font-size: 30px;
}
.perfil{
    color:darkorange;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
}

.texto ul{
    list-style:none;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease-in;
    
    position: absolute;
    top:0;
    left: 0;
    margin-left: 30%;
    font-size: 60px;
    margin-top: 2%;
 
}

.read-more-state:checked ~ .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
    color:white;
    position: absolute;
    text-decoration: none;
    list-style:none;
    top:0;
    left: 0;
    margin-left: 30%;
    font-size: 60px;
    margin-top: 2%;
}

.read-more-trigger {
    cursor:pointer;
    color:darkorange;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
}