body{
    height: 100%;
    width: 100%;
    background-color: #2d2d2d;
    color: #fff;
}
a,a:hover,a:visited{
     text-decoration: none;
}
h1, h2, h3, h4, h5{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
.submenu:hover{
cursor: pointer;
}
h2{
    display:block;
    width:100px;
    margin:0 auto;
    padding:5px 20px;
    border-radius:3px;
    background:#2d2d2d;
    color:rgba(255,255,255,.3);
    font-size:1em;
    letter-spacing:0;
}
h4{
    font-size: 1.2em;
    text-shadow: 3px 3px 10px rgba(0,0,0,.75);
}
nav a {
    color: #fff;
    transition: all ease .3s;
}
nav a:hover{
    color:#f5a135;
}
nav{
    text-transform:uppercase;
}
nav ul li{
    vertical-align:top;
    display: inline-block;
    padding: 14px 15px;
}
nav ul ul{
    position:absolute;
    background: #2d2d2d;
    visibility: hidden;
    opacity: 0;
    transition: all ease .3s;
    text-align: left;
    padding:0 15px;
    border:1px solid rgba(255,255,255,.15);
    border-radius:3px;
    margin-top:15px;
    font-size: 0.8em;
    cursor: default;
}
nav ul ul li{
    display:block;
    padding:20px 0;
    border-bottom:1px solid rgba(255,255,255,.15);
}
nav ul ul li:last-child{
    border-bottom:none;
}
nav ul li:hover > ul{
    visibility:visible;
    opacity:1;
}
section{
    width: 80%;
    margin: 0 auto;
    background: rgba(255,255,255,.05);
    border-radius: 5px;
    padding:30px 0;
}
.parrafo{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.articulo{
    border-bottom: 1px solid rgba(255,255,255,.15);
    padding: 30px 0;
}
.articulo:last-child{
    border-bottom: none;
}
.subir{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    border-radius: 50%;
    background: #f5a135; 
}
#goTop{
    color: #2d2d2d;
    display: none;
}
.center{
    text-align: center;
}
/*Modificar iFrames*/
iframe{
    width: 80.01%;
    height: 540px;
    border: 1px solid #f5a135;    
}
#wow iframe{
 border-color: #82c133;
}
#warframe iframe{
    border-color: #bea857;
}
#minecraft iframe{
    border-color: #82bc5b;
}
#civilization iframe{
    border-color: #aba277;
}
#cs iframe{
    border-color: #505260;
}
#lol iframe{
    border-color: #f86946;
}
#farming iframe{
    border-color: #d2ac44;
}